* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .block {
  max-width: 480px;
}
body .block .container {
  margin: 0 auto;
  width: 93%;
  height: 100%;
  max-width: 1940px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
}
body .block .container .logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
body .block .container .logo img {
  width: 100%;
}
body .block .container .top {
  text-align: center;
  margin-top: 15px;
}
body .block .container .top h3 {
  font-size: 24px;
  color: #000844;
}
body .block .container .top p {
  font-size: 16px;
}
body .block .container .social-media-pages {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}
body .block .container .social-media-pages .smp {
  width: 44px;
  height: 44px;
  background-color: #000844;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
body .block .container .social-media-pages .smp img {
  width: 50%;
}
body .block .container .btns {
  width: 100%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body .block .container .btns .btn {
  width: 100%;
  border: 1px solid #000844;
  padding: 15px;
  border-radius: 32px;
  font-size: 16px;
  color: #000844;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .block .container hr {
  margin: 32px 0px;
  border: none;
  width: 100%;
  height: 0.5px;
  background-color: #000844;
}
body .block .container .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
body .block .container .input h2 {
  font-size: 18px;
  font-style: normal;
  color: #000844;
}
body .block .container .input .input-field {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}
body .block .container .input .input-field input {
  border: 1px solid #000844;
  outline: none;
  border-radius: 32px;
  padding: 15px;
  width: 100%;
}
body .block .container .input .input-field input::-moz-placeholder {
  font-size: 14px;
  color: rgba(0, 8, 68, 0.537254902);
}
body .block .container .input .input-field input::placeholder {
  font-size: 14px;
  color: rgba(0, 8, 68, 0.537254902);
}
body .block .container .input .input-field .icon {
  position: absolute;
  width: 64px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #000844;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .block .container .location {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .block .container .location h2 {
  font-size: 18px;
  text-align: center;
  font-style: normal;
  color: #000844;
}
body .block .container .location iframe {
  width: 100%;
  height: 200px;
}
body .block .container .location p {
  font-size: 16px;
  color: #000844;
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */